

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [ ]:
L=[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [1]:
L=["anna", 'Dione', 'joal', 25, 1.79]
L

['anna', 'Dione', 'joal', 25, 1.79]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [2]:
print(len(L))

5

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [5]:
print(L[0], L[2], L[4])

anna joal 1.79

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [ ]:
mixed_data_types['Anna', 25, 1.79, 'celibataire', 'joal']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [32]:
it_companies=['Facebook', 'Google','Microsoft', 'Apple', 'IBM', 'Oracle ', 'Amazon']
print(it_companies)
l=len(it_companies)
print('\n'"la longueur de la liste:",l)
print(it_companies[0],it_companies[l//2],it_companies[l-1])
it_companies.append('informatique')
it_companies.insert(l//2,'informatique1')
it_companies
it_companies[1]=it_companies[1].upper()
print('\n'"Avec google en majuscule:",it_companies)
print('\n'"Joignons les it_companies avec une chaîne '# ; ': '\n'",'# ; '.join(it_companies))
'anna' in it_companies
it_companies.sort()
print('\n'"La liste triee est:",it_companies)
it_companies.reverse()
print('\n'"La liste inversee est: '\n'",it_companies)
it_companies.pop(0)
it_companies.pop(1)
it_companies.pop(2)
print("Apres la suppression des 3 premières entreprises de la liste:",it_companies)
del it_companies[-3:-1]
print('Apres suppression des 3 dernières entreprises de la liste',it_companies)
del it_companies[]
print("Supprimez la ou les entreprises informatiques du milieu de la liste.
")

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle ', 'Amazon']

la longueur de la liste: 7
Facebook Apple Amazon

Avec google en majuscule: ['Facebook', 'GOOGLE', 'Microsoft', 'informatique1', 'Apple', 'IBM', 'Oracle ', 'Amazon', 'informatique']

Joignons les it_companies avec une chaîne '# ; ': '
' Facebook# ; GOOGLE# ; Microsoft# ; informatique1# ; Apple# ; IBM# ; Oracle # ; Amazon# ; informatique

La liste triee est: ['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'IBM', 'Microsoft', 'Oracle ', 'informatique', 'informatique1']

La liste inversee est: '
' ['informatique1', 'informatique', 'Oracle ', 'Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']
Apres la suppression des 3 premières entreprises de la liste: ['informatique', 'Microsoft', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']
Apres des 3 dernières entreprises de la liste ['informatique', 'Microsoft', 'GOOGLE', 'Amazon']

In [12]:
x = ["a", " appl", "g", "c", "Apple", "  f", " f"]
x.sort()

print(x)

['  f', ' appl', ' f', 'Apple', 'a', 'c', 'g']

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [35]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
print("back_end join a back_end:")
front_end+back_end

back_end join a back_end:

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [22]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
maxx=max(ages)
minn=min(ages)
print("Le maximun est: ",maxx)
print("Le minimum de ages est: ",minn)
ages.append(26)
ages.append(19)
print(ages)
l= len(ages)
print(l)
if l%2==0:
    am=(ages[(l//2)-1]+ ages[(l//2)])/2
    print("L'age median est ",am)
if l%2!=0:
    amm=ages[(l//2)]
    print("L'age median est ",amm)
s=0
for i in ages:
    s=s+i
amoy=s/l
print("La moyenne des ages est:",amoy)
intervalle=[minn,maxx]
print("L'intervalle min, max est:",intervalle)
n=minn-amoy
m=maxx-amoy
if abs(n)< abs(m):
    print(n," est inferieur a ",m," en valeur absolue")
else:
    print(n," est superieur a ",m," en valeur absolue")

Le maximun est:  26
Le minimum de ages est:  19
[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 26, 19]
12
L'age median est  25.5
La moyenne des ages est: 22.75
L'intervalle min, max est: [19, 26]
-3.75  est superieur a  3.25  en valeur absolue

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [39]:
dog={}
dog['nom']='Aliana'
dog['couleur']='noire'
dog['race']='bulldog'
dog['pattes']='pattes'
dog['age']=[10]
print('\n'"Le dictionnaire du dog est:",dog)
student={}
student['prenom']='Anna'
student['nom']='DIONE'
student['sexe']='feminin'
student['age']=25
student['etat civil']='celibataire'
student['competences']='mathematecienne&informaticienne'
student['pays']='SENRGAL'
student['ville']='Joal'
student['adresse']='Santhie3'
print('\n''Le dictionnaire du student est:',student)
print('\n'"La longueur du dictionnaire student est:",len(student))
n=student['competences']
print('\n'"La valeur de competences est:",n)
type(n)
student['competences']='vendeuse'
print(student['competences'])
print("Les cles du dictionnaire sont:",list(student.keys()))
print('\n'"les valeurs du dictionnaire sous forme de liste:", list(student.values()))
student.items()
del student['age']
print('\n'"Apres suppression de age student =[",student,"]")
del dog
print('\n'"dog n'existe plus")

Le dictionnaire du dog est: {'nom': 'Aliana', 'couleur': 'noire', 'race': 'bulldog', 'pattes': 'pattes', 'age': [10]}

Le dictionnaire du student est: {'prenom': 'Anna', 'nom': 'DIONE', 'sexe': 'feminin', 'age': 25, 'etat civil': 'celibataire', 'competences': 'mathematecienne&informaticienne', 'pays': 'SENRGAL', 'ville': 'Joal', 'adresse': 'Santhie3'}

La longueur du dictionnaire student est: 9

La valeur de competences est: mathematecienne&informaticienne
vendeuse
Les cles du dictionnaire sont: ['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competences', 'pays', 'ville', 'adresse']

les valeurs du dictionnaire sous forme de liste: ['Anna', 'DIONE', 'feminin', 25, 'celibataire', 'vendeuse', 'SENRGAL', 'Joal', 'Santhie3']

Apres suppression de age student =[ {'prenom': 'Anna', 'nom': 'DIONE', 'sexe': 'feminin', 'etat civil': 'celibataire', 'competences': 'vendeuse', 'pays': 'SENRGAL', 'ville': 'Joal', 'adresse': 'Santhie3'} ]

dog n'existe plus

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>